

.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 2 0 0; /* Adjust padding to make room for the button */
    -fx-border-width: 0 0 1 0; /* Only show the bottom border */
     -fx-border-color: white;
    -fx-border-insets: 0, 1 1 0 2, 2 2 1 3, 3 3 2 4;
    -fx-border-radius: 0;
     -fx-text-fill: white;
}


.button{
 -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-family: Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-border-color: #333;
    -fx-border-width: 1px;
   -fx-background-radius: 1em;
}

.button:hover {
    -fx-background-color: #333;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #555;
}



.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: white;
    -jfx-focus-color: white;
}

.combo-box {
  -fx-border-color: white;
  -fx-background-color: transparent;
  -fx-border-width: 0 0 1 0;
  -fx-background-radius: 0;
}

.combo-box .text{
    -fx-fill: white;
}

.combo-box .combo-box-popup .list-view .list-cell{
   -fx-background-color: #333;
}
.combo-box .combo-box-popup .list-view .list-cell:hover{
   -fx-background-color: green;
}

