/* General Scene Style */
.root {
    -fx-background-color: #4a4a4a; /* Dark background */
    -fx-border-width: 3 3 3 3; /* Top, right, bottom, left border widths */
     -fx-border-color: #2b2b2b #2b2b2b #2b2b2b #2b2b2b;
}

#pane{
    -fx-border-width: 3 3 3 3; /* Top, right, bottom, left border widths */
    -fx-border-color: #2b2b2b #2b2b2b #2b2b2b #2b2b2b; /* Corresponding border colors */
}

/* TextField Style */
.text-field {
    -fx-background-color: #4a4a4a; /* Darker input field */
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-prompt-text-fill: #a0a0a0; /* Light gray placeholder text */
    -fx-border-color: #3d3d3d; /* Border color */
    -fx-border-radius: 5px; /* Rounded corners */
}

/* Label Style */
.label {
    -fx-text-fill: #2E2E2E; /* Light gray text color */
    -fx-font-weight: bold; /* Bold font */
}

/* Button Style */
.button {
    -fx-background-color: linear-gradient(#3a3a3a, #2d2d2d); /* Gradient background */
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-border-color: #4a4a4a; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-font-size: 11px; /* Font size */
    -fx-font-weight: bold; /* Bold font */
    -fx-cursor: hand; /* Hand cursor on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 1); /* Shadow effect */
}

.button:hover {
    -fx-background-color: #4a4a4a; /* Darker background on hover */
    -fx-text-fill: #ffffff; /* Lighter text on hover */
}

.button:pressed {
    -fx-background-color: #2d2d2d; /* Darker background when pressed */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0, 0, 1); /* Inner shadow effect */
}


/* MenuButton Style */
.menu-button {
    -fx-background-color: #4a4a4a; /* Darker background */
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-border-color: #3d3d3d; /* Border color */
    -fx-border-radius: 5px; /* Rounded corners */
}

.menu-button .label {
    -fx-text-fill: #f0f0f0; /* Light text */
}

.menu-button .arrow {
    -fx-background-color: #3d3d3d; /* Darker arrow background */
}

.menu-button:hover {
    -fx-background-color: #3d3d3d; /* Darker background on hover */
}

.menu-button:pressed {
    -fx-background-color: #2d2d2d; /* Darker background when pressed */
}

.menu-item {
    -fx-background-color: #4a4a4a; /* Darker background */
    -fx-text-fill: #f0f0f0; /* Light text */
}

.menu-item:hover {
    -fx-background-color: #3d3d3d; /* Darker background on hover */
}

/* RadioButton Style */
.radio-button {
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-mark-color: #f0f0f0; /* Light mark color */
    -fx-border-color: #3d3d3d; /* Border color */
    -fx-background-color: #4a4a4a; /* Background color */
    -fx-border-radius: 5px; /* Rounded corners */

}

.radio-button:selected {
    -fx-background-color: #3d3d3d; /* Darker background when selected */
}

.radio-button .radio {
    -fx-background-color: #4a4a4a; /* Background color of the radio circle */
    -fx-border-color: #3d3d3d; /* Border color of the radio circle */
}

.radio-button .radio:hover {
    -fx-background-color: #3d3d3d; /* Darker background of the radio circle on hover */
}

.radio-button .radio:selected {
    -fx-background-color: #3d3d3d; /* Darker background of the radio circle when selected */
}

.radio-button .radio-mark {
    -fx-mark-color: #f0f0f0; /* Light mark color */
}