/* General Scene Style */
.root {
    -fx-background-color: #E0E0E0; /* Dark background */
    -fx-border-width: 3 3 3 3; /* Top, right, bottom, left border widths */
    -fx-border-color: #455A64 #455A64 #455A64 #455A64; /* Border color */
}

#pane {
    -fx-border-width: 3 3 3 3; /* Top, right, bottom, left border widths */
    -fx-border-color: #455A64 #455A64 #455A64 #455A64; /* Border color */
}

/* TextField Style */
.text-field {
    -fx-background-color: #455A64; /* Darker input field */
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-prompt-text-fill: #a0a0a0; /* Light gray placeholder text */
    -fx-border-color: #3d3d3d; /* Border color */
    -fx-border-radius: 5px; /* Rounded corners */
}

/* Label Style */
.label {
    -fx-text-fill: #2E2E2E; /* Light gray text color */
    -fx-font-weight: bold; /* Bold font */
}

/* Button Style */
.button {
    -fx-background-color: #455A64; /* Darker button */
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-border-color: #4a4a4a; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners */
}

/* MenuButton Style */
.menu-button {
    -fx-background-color: #455A64; /* Darker button background */
    -fx-text-fill: white; /* Light text */
    -fx-border-color: #4a4a4a; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-font-size: 11px; /* Font size */
}

.menu-button .arrow {
    -fx-background-color: white; /* Darker arrow background */
    -fx-text-fill: #f0f0f0; /* Light arrow color */
}

/* RadioButton Style */
.radio-button {
    -fx-text-fill: #2E2E2E; /* Light gray text color */
}

.radio-button .radio {

    -fx-border-color: #3d3d3d; /* Border color */
    -fx-border-radius: 5px; /* Rounded corners */

}

.radio-button:selected .radio {
    -fx-background-color: #455A64;; /* Even darker background when selected */
    -fx-border-color: #1E1E1E; /* Darker border when selected */
}
