/* Root scene styling */
.root {
    -fx-background-color: #E0E0E0; /* Light gray background */
    -fx-text-fill: #212121;
    -fx-border-width: 3 3 3 3; /* Top, right, bottom, left border widths */
    -fx-border-color: #455A64 #455A64 #455A64 #455A64;
}

#hbHeader{
    -fx-border-width: 0 0 3 0; /* Top, right, bottom, left border widths */
    -fx-border-color: transparent transparent #455A64 transparent; /* Corresponding border colors */
}



/* TableView styling */
.table-view {
    -fx-background-color: #F5F5F5; /* Light gray background */
    -fx-control-inner-background: #F5F5F5;
    -fx-padding: 10;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}

.table-view .column-header-background {
    -fx-background-color: #E0E0E0; /* Match root background */
    -fx-border-color: #DDDDDD;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header, .table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-text-fill: #757575;
    -fx-padding: 8 10;
    -fx-font-weight: bold;
}

.table-view .cell {
    -fx-border-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #212121;
}

.table-view .row-cell:filled:selected, .table-view .cell:selected {
    -fx-background-color: #E0E0E0;
}

/* Button styling */
.button {
    -fx-background-color: #455A64; /* Darker blue background */
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 8 15;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #37474F; /* Darker hover color */
}

.button:pressed {
    -fx-background-color: #263238; /* Darker pressed color */
}

/* TextField styling */
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #212121;
    -fx-prompt-text-fill: #9E9E9E;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
}

.text-field:focused {
    -fx-border-color: #2196F3;
}

/* Label styling */
.label {
    -fx-text-fill: #212121;
}

/* Tooltip styling */
.tooltip {
    -fx-background-color: #616161;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #424242;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-padding: 8;
}
