/* General Scene Style */
.root {
    -fx-background-color: #E0E0E0; /* Dark background */
    -fx-border-width: 3 3 3 3; /* Top, right, bottom, left border widths */
     -fx-border-color: #455A64 #455A64 #455A64 #455A64;
}

#pane{
    -fx-border-width: 3 3 3 3; /* Top, right, bottom, left border widths */
    -fx-border-color: #455A64 #455A64 #455A64 #455A64; /* Corresponding border colors */
}

/* TextField Style */
.text-field {
    -fx-background-color: #455A64; /* Darker input field */
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-prompt-text-fill: #a0a0a0; /* Light gray placeholder text */
    -fx-border-color: #3d3d3d; /* Border color */
    -fx-border-radius: 5px; /* Rounded corners */
}



/* Label Style */
.label {
    -fx-text-fill: #2E2E2E; /* Light gray text color */
    -fx-font-weight: bold; /* Bold font */
}


/* Button Style (Optional) */
.button {
    -fx-background-color: #455A64; /* Darker button */
    -fx-text-fill: #f0f0f0; /* Light text */
    -fx-border-color: #4a4a4a; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners */
}
